.wrapper-messages-page {
    display: flex;
    flex-grow: 2;
}

.left-container {
    width: 30%;
    height: 100vh;
    border-right: 2px solid rgb(238, 232, 232);
}

.messages-container {
    flex-grow: 1;
}