.contact-container {
    width: 100%;
    position: fixed;
    height: 10vh;
    display: flex;
    border-bottom: 2px solid rgb(238, 232, 232);
    background-color: rgb(243, 243, 243);
    padding: 0 20px;
    align-items: center;
}

.contact-item-photo {
    position: relative;
}

.contact-name {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 500;
    padding-left: 10px;
}

.photo {
    margin-top: 0;
}

.icon-contact {
    position: absolute;
    color: rgb(41, 207, 41);
    font-size: 1.1rem;
    display: flex;
    right: 0;
    bottom: 0;
}

@media screen and (max-height: 700px) {
    .item-photo {
        display: none;
    }
}