.search-container {
    background-color: rgb(243, 243, 243);
    min-height: 20vh;
    border-bottom: 2px solid rgb(238, 232, 232);
    width: 20%;
    position: fixed;
}

.bi.bi-person-circle {
    font-size: 2.5rem;
    color: gray;
    margin: 20px;
}

.user-icon {
    position: absolute;
    color: rgb(41, 207, 41);
    font-size: 1.1rem;
    left: 3rem;
    top: 2rem;
}

.container-form {
    margin-top: 4vh;
    display: flex;
    align-items: center;
}

.form {
    position: relative;
    display: flex;
    margin: auto;
    width: 90%;
}

.form-search {
    font-size: 1rem;
    border: none;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    padding: 12px 40px;
    border-radius: 20px;
    width: 100%;
}

.form-search:focus {
    outline: none;
}

.bi.bi-search {
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    left: 10px;
    color: gray;
    font-size: .8rem;
}

.no-contact {
    margin-left: 20px;
}

.active {
    background-color: #dbe7f3;
}

.contact-item:hover {
    background-color: #e9eff5;
}

.icon-contact-list {
    position: absolute;
    color: rgb(41, 207, 41);
    font-size: 1.1rem;
    left: 2rem;
    top: 3rem;
}

.container-contact-list {
    margin-top: 20vh;
}

.contact-list-title {
    font-weight: 400;
    color: rgb(60, 163, 248);
    padding-top: 20px;
    padding-left: 20px;

}

.contact-list {
    list-style: none;
    padding: 0;
}

.contact-item {
    display: flex;
    border-bottom: 2px solid rgb(238, 232, 232);
    padding: 0 20px;
    justify-content: space-between;
    width: 100%;
}

.contact {
    display: flex;
}

.name-contact {
    font-weight: 500;
    color: #333;
    margin-bottom: 0;
}

.preview-message {
    color: gray;
    margin-top: 5px;
    max-width: 150px;
    max-height: 45px;
    text-overflow: ellipsis;
    overflow: hidden;
    /* white-space: nowrap; */
}

.contact-list-date {
    height: 5px;
    font-size: .8rem;
    display: flex;
    margin-top: 25px;
    color: #333;
}

@media screen and (max-height: 700px) {
    .container-contact-list {
        overflow: scroll;
        height: 100%;
    }
}

@media screen and (max-height: 340px) {
    .contact-list-title{
        opacity: 0;
    }
}

@media only screen and (max-width: 1335px) {
    .contact-list-date {
        display: none;
    }

    .contact-item {
        display: flex;
        padding: 0 10px;
    }
}

@media only screen and (max-width: 1118px) {
    .preview-message {
        max-width: 100px;
    }
}

@media only screen and (max-width: 850px) {
    .preview-message {
        max-width: 50px;
    }
}

@media only screen and (max-width: 720px) {

    .preview-message {
        display: none;
    }

    .contact-item {
        padding: 0 5px;
    }
}


@media only screen and (max-width: 666px) {

    .name-contact,
    .form-search,
    .bi.bi-search,
    .contact-list-title {
        display: none;
    }

}